body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    width: 100%; /* Gör att containern använder hela bredden på mindre skärmar */
    margin: 20px;
    overflow-y: auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2, p, ul {
    margin: 0 auto 20px;
    text-align: left;
    line-height: 1.6;
    font-size: 16px;
}

input[type="text"] {
    width: 100%; /* Ändra till 100% för att ta upp hela bredden */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: 2px solid #ff69b4; /* Lägg till rosa border */
    border-radius: 4px;
    background-color: #ff69b4; /* Rosa bakgrundsfärg */
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #ff1493; /* Mörkare rosa på hover */
}
#confirmationMessage {
    margin: 20px 0;
    color: green;
}

/* Rosa färger */
.dark-pink {
    color: #f10683;
}

.light-pink {
    color: #b51a68;
}

.regular-pink {
    color: #882c3b;
}

.pink-button {
    background-color: #ff69b4;
    color: #fff;
    border: 2px solid #ff69b4; /* Lägg till rosa border */
}

.pink-button:hover {
    background-color: #ff1493;
    border: 2px solid #ff69b4;
}

/* Rosa punktlista */
ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

ul li {
    position: relative;
    margin-bottom: 8px;
    padding-left: 1.5em;
}

ul li::before {
    content: "\2022";
    position: absolute;
    left: 0;
    color: #882c3b;
    margin-right: 8px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2, p, ul {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}
